.mainCategory {
  margin-left: 36px;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 20px;
  margin-top: 25px;
}

.subCategory {
  display: flex;
  font-weight: 400;
  margin-bottom: 17px;
}

.subCategory-icon {
  width: 35px;
  height: 35px;
  margin-right: 13px;
}

.subCategory-title {
    margin: auto 0;

}
