.category {
  display: flex;
  font-weight: 400;
  margin-bottom: 28px;
  margin-left: 32px;
}

.category-icon {
  width: 52px;
  height: 52px;
  margin-right: 13px;
}

.category-title {
  margin: auto 0;
  color: #363636;
  font-size: 16px;
}
