.fp-desk {
  margin-right: 32px;
  margin-left: 32px;

  font-weight: normal;
  font-size: 16px;
  line-height: 24px;

  /* Neutral/100 */

  color: #363636;
}

.fp-button {
  display: flex;
  justify-content: center;

  margin-right: 32px;
  margin-left: 32px;
  margin-top: 32px;
  height: 44px;

  background: #0594c2;
  border-radius: 4px;

  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */

  /* Neutral/0 */

  color: #ffffff;
}

.fp-bt-desk {
  margin: auto;
  margin-left: 0px;
}

.fp-bt-icon {
  margin: auto;
}
